<!DOCTYPE html>
<html class="" lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    th:fragment="parent(content, title, script)">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title data-th-replace="${title}">SCM App</title>

    <link rel="icon" href="images/favicon.ico" th:href="@{/images/favicon.ico}" type="image/x-icon">
    <!-- CSS  -->
    <link href=" https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" data-th-href="@{'./css/output.css'}" />
    <link rel="stylesheet" data-th-href="@{'./css/style.css'}" />

    <script data-th-src="@{'/js/index.js'}"></script>
</head>

<body class=" dark:bg-gray-900 dark:text-white">
    <!-- header -->
    <header class="z-50">
        <div th:if="${loggedInUser}">
            <div data-th-replace="~{user/auth_navbar :: authenticated_navbar}"></div>
        </div>
        <div th:unless="${loggedInUser}">
            <div data-th-replace="~{header :: navbar}"></div>
        </div>
    </header>
    <!-- sidebar -->
    <!-- <div th:if="${loggedInUser}">
        <div data-th-replace="~{user/sidebar :: sidebar}">
        </div>
    </div> -->

    <!-- content here -->
    <div class="">
        <div data-th-replace="${content}"></div>
    </div>


    <!-- footer  -->
    <div>
        <div data-th-replace="~{footer :: footer}"></div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <th:block data-th-replace="${script}"></th:block>
</body>

</html>